body {
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

.game {
  width: 50dvw;
  height: 50dvh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: #000;
}

.ship {
  position: absolute;
  background: transparent url(/public/player.jpg) no-repeat left top;
  top: 0;
  left: 0;
}

.enemy {
  position: absolute;
  background: transparent url(/public/enemy.jpg) no-repeat left top;
  top: 0;
  left: 0; 
}

.wrapper {
  position: relative;
}

.wrapper canvas,
.wrapper .gameArea {
  position: relative;
  z-index: 1;
}

.ui,
.gameOverScreen,
.pauseScreen {
  z-index: 5;
}

.paused .gameArea,
.paused canvas {
  pointer-events: none;
}

.paused .gameOverScreen,
.paused .pauseScreen {
  pointer-events: all;
}

.ui {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shield.active {
  color: green;
}

.shield.recharging {
  color: red;
}

.energyBar {
  width: 5px;
  height: 30px;
  border: 1px solid rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.energyBar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(255,255,255,0.8);
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.pauseScreen,
.gameOverScreen  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  background-color: rgba(0,0,0,0.5);
}

.pauseScreen > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.7)
}

.pauseScreen.visible,
.gameOverScreen.visible {
  opacity: 1;
}

.currentHighscores {
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
}

.currentHighscores h4 {
  margin: 0;
}

.currentHighscores .highscore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}