body {
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin: 0;
  text-align: center;
}

.game {
  width: 50dvw;
  height: 50dvh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: #000;
}

button {
  background: rgba(100,190,190, 0.2);
  border: 1px solid rgba(100,190,190, 1);
  padding: 10px;
  border-radius: 10px;
}

.ship {
  position: absolute;
  background: transparent url(/public/player.jpg) no-repeat left top;
  top: 0;
  left: 0;
}

.enemy {
  position: absolute;
  background: transparent url(/public/enemy.jpg) no-repeat left top;
  top: 0;
  left: 0; 
}

.wrapper {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.wrapper canvas,
.wrapper .gameArea {
  position: relative;
  z-index: 1;
}

.ui,
.gameOverScreen,
.pauseScreen {
  z-index: 5;
}

.loadScreen {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadScreen .content {
  padding: 30px;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  width: 70dvw;
  max-width: 600px;
  border: 1px solid rgba(100,190,190, 0.5);
  border-radius: 20px;
}

.loadScreen h1 {
  margin: 0;
}

.ui {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shield.active {
  color: green;
}

.shield.recharging {
  color: red;
}

.energyBar {
  width: 5px;
  height: 30px;
  border: 1px solid rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.energyBar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(255,255,255,0.8);
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.pauseScreen,
.gameOverScreen,
.loadScreen  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  background-color: rgba(0,0,0,0.5);
  z-index: 9;
}

.pauseScreen.visible,
.gameOverScreen.visible,
.loadScreen.visible {
  opacity: 1;
  pointer-events: all;
}

.gameOverScreen .content,
.pauseScreen .content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  max-width: 600px;
  border: 1px solid rgba(100,190,190, 0.5);
  border-radius: 20px;
}

.pauseScreen > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.7)
}

.currentHighscores {
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
}

.currentHighscores h4 {
  margin: 0;
}

.currentHighscores .highscore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newHighscore {
  padding: 20px;
  border: 1px solid rgba(100,190,190, 0.5);
  border-radius: 10px;
  background: rgba(100,190,190, 0.2);
  margin: 30px 0;
}

.newHighscore input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 1px solid rgba(100,190,190, 0.5);
  background: rgba(0,0,0,0.5);
  width: 120px;
}

.newHighscore form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.pauseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.2);
  border-radius: 40px;
  z-index: 99;
  gap: 5px;
}

.pauseButton span {
  height: 50%;
  width: 2px;
  background-color: #fff;
}

button:hover {
  background: rgba(255,255,255,0.4);
  cursor: pointer;
}